#prestigeOverlay{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;

}

#prestigeWarning{

    height: 30%;
    width: 40%;
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;

}

#prestigeWarningWarning{

    width: 100%;
    height: 30%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#prestigeWarningBody{

    width: 80%;
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: bisque;

}

#prestigeWarningButtons{

    width: 100%;
    height: 20%;
    background-color: blue;
    display: flex;

}

#prestigeNo{

    width: 50%;
    height: 100%;
    background-color: brown;

}

#prestigeYes{

    width: 50%;
    height: 100%;
    background-color: green;

}

#main{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

}

#left{

    width: 33.33%;
    height: 100%;
    background-color: antiquewhite;

}

#gooseCount{

    float: left;
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
    width: 100%;
    height: 10%;
    background-color: aliceblue;

}

#goosePerSecond{

    float: left;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    width: 100%;
    height: 10%;
    background-color: rebeccapurple;

}

#mainGoose{

    float: left;
    width: 100%;
    height: 80%;

}

#center{

    width: 33.33%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;

}

#options{

    height: 10%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;

}

#stats{

    height: 100%;
    background-color: aquamarine;
    aspect-ratio: 1/1;
    flex-shrink: 0;

}

#tips{

    height: 100%;
    background-color: brown;
    width: 100%;

}

#settingsButton{

    height: 100%;
    aspect-ratio: 1/1;
    background-color: blue;
    flex-shrink: 0;

}

#artifact{

    float: left;
    width: 100%;
    height: 70%;
    background-color: rgb(47, 31, 138);

}

#artifactTitle{

    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    background-color: aqua;

}

#extraTitle{

    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    background-color: aqua;

}

#extra{

    float: left;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    background-color: blueviolet;
    align-items: center;

}

#chipmunk{

    width: calc(100%/6);
    aspect-ratio: 1/1;
    background-color: beige;

}

#prestigeButton{

    width: calc(100%/6);
    aspect-ratio: 1/1;
    background-color: black;

}

#right{

    width: 33.33%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;

}

#shopBanner{

    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    background-color: blueviolet;

}

#grass{

    float: left;
    font-family: sans-serif;
    background-color: green;
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;

}

#grassTooltip{

    visibility: hidden;
    position: absolute;
    background-color: darkred;
    color: white;
    right: 103%;
    width: 45%;
    font-family: sans-serif;
    border: solid brown;

}

#grass:hover #grassTooltip{

    visibility: visible;

}

#grassImage{

    float: left;
    height: 100%;

}

#grassLeft{

    display: flex;
    align-items: center;
    float: left;
    font-size: 40px;
    height: 100%;
    background-color: brown;
    width: 60%;

}

#grassRight{

    float: left;
    height: 100%;
    width: 30%;
    background-color: pink;
    font-size: 20px;
    flex-shrink: 0;

}

#grassRightTop{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: pink;

}

#grassRightBottom{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: blue;

}

/*------------------------------------------------------------------------------------------------------------*/

#wheat{

    float: left;
    width: 100%;
    font-family: sans-serif;
    background-color: green;
    height: 10%;
    display: flex;

}

#wheatImage{

    float: left;
    height: 100%;

}

#wheatLeft{

    display: flex;
    align-items: center;
    float: left;
    font-size: 40px;
    height: 100%;
    background-color: brown;
    width: 60%;

}

#wheatRight{

    float: left;
    height: 100%;
    width: 30%;
    background-color: pink;
    font-size: 20px;
    flex-shrink: 0;

}

#wheatRightTop{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: pink;

}

#wheatRightBottom{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: blue;

}

/*------------------------------------------------------------------------------------------------------------*/

#gooseStatue{

    float: left;
    font-family: sans-serif;
    background-color: green;
    height: 10%;
    width: 100%;
    display: flex;

}

#gooseStatueImage{

    float: left;
    height: 100%;

}

#gooseStatueLeft{

    display: flex;
    align-items: center;
    float: left;
    font-size: 40px;
    height: 100%;
    background-color: brown;
    width: 60%;

}

#gooseStatueRight{

    float: left;
    height: 100%;
    width: 30%;
    background-color: pink;
    font-size: 20px;
    flex-shrink: 0;

}

#gooseStatueRightTop{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: pink;

}

#gooseStatueRightBottom{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: blue;

}

/*------------------------------------------------------------------------------------------------------------*/

#gooseNest{

    float: left;
    font-family: sans-serif;
    background-color: green;
    height: 10%;
    width: 100%;
    display: flex;

}

#gooseNestImage{

    float: left;
    height: 100%;

}

#gooseNestLeft{

    display: flex;
    align-items: center;
    float: left;
    font-size: 40px;
    height: 100%;
    background-color: brown;
    width: 60%;

}

#gooseNestRight{

    float: left;
    height: 100%;
    width: 30%;
    background-color: pink;
    font-size: 20px;
    flex-shrink: 0;

}

#gooseNestRightTop{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: pink;

}

#gooseNestRightBottom{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: blue;

}

/*------------------------------------------------------------------------------------------------------------*/

#uwaterloo{

    float: left;
    font-family: sans-serif;
    background-color: green;
    height: 10%;
    width: 100%;
    display: flex;

}

#uwaterlooImage{

    float: left;
    height: 100%;

}

#uwaterlooLeft{

    display: flex;
    align-items: center;
    float: left;
    font-size: 40px;
    height: 100%;
    background-color: brown;
    width: 60%;

}

#uwaterlooRight{

    float: left;
    height: 100%;
    width: 30%;
    background-color: pink;
    font-size: 20px;
    flex-shrink: 0;

}

#uwaterlooRightTop{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: pink;

}

#uwaterlooRightBottom{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: blue;

}

/*------------------------------------------------------------------------------------------------------------*/

#gooseTemple{

    float: left;
    font-family: sans-serif;
    background-color: green;
    height: 10%;
    width: 100%;
    display: flex;

}

#gooseTempleImage{

    float: left;
    height: 100%;

}

#gooseTempleLeft{

    display: flex;
    align-items: center;
    float: left;
    font-size: 40px;
    height: 100%;
    background-color: brown;
    width: 60%;

}

#gooseTempleRight{

    float: left;
    height: 100%;
    width: 30%;
    background-color: pink;
    font-size: 20px;
    flex-shrink: 0;

}

#gooseTempleRightTop{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: pink;

}

#gooseTempleRightBottom{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: blue;

}

/*------------------------------------------------------------------------------------------------------------*/

#gooseMagnet{

    float: left;
    font-family: sans-serif;
    background-color: green;
    height: 10%;
    width: 100%;
    display: flex;

}

#gooseMagnetImage{

    float: left;
    height: 100%;

}

#gooseMagnetLeft{

    display: flex;
    align-items: center;
    float: left;
    font-size: 40px;
    height: 100%;
    background-color: brown;
    width: 60%;

}

#gooseMagnetRight{

    float: left;
    height: 100%;
    width: 30%;
    background-color: pink;
    font-size: 20px;
    flex-shrink: 0;

}

#gooseMagnetRightTop{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: pink;

}

#gooseMagnetRightBottom{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: blue;

}

/*------------------------------------------------------------------------------------------------------------*/

#gooseLab{

    float: left;
    font-family: sans-serif;
    background-color: green;
    height: 10%;
    width: 100%;
    display: flex;

}

#gooseLabImage{

    float: left;
    height: 100%;

}

#gooseLabLeft{

    display: flex;
    align-items: center;
    float: left;
    font-size: 40px;
    height: 100%;
    background-color: brown;
    width: 60%;

}

#gooseLabRight{

    float: left;
    height: 100%;
    width: 30%;
    background-color: pink;
    font-size: 20px;
    flex-shrink: 0;

}

#gooseLabRightTop{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: pink;

}

#gooseLabRightBottom{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: blue;

}

/*------------------------------------------------------------------------------------------------------------*/

#portal{

    float: left;
    font-family: sans-serif;
    background-color: green;
    height: 10%;
    width: 100%;
    display: flex;

}

#portalImage{

    float: left;
    height: 100%;

}

#portalLeft{

    display: flex;
    align-items: center;
    float: left;
    font-size: 40px;
    height: 100%;
    background-color: brown;
    width: 60%;

}

#portalRight{

    float: left;
    height: 100%;
    width: 30%;
    background-color: pink;
    font-size: 20px;
    flex-shrink: 0;

}

#portalRightTop{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: pink;

}

#portalRightBottom{
    
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: blue;

}

