#prestigeOverlay{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;

}

#prestigeWarning{

    height: 30%;
    width: 40%;
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;

}

#prestigeWarningWarning{

    width: 100%;
    height: 30%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#prestigeWarningBody{

    width: 80%;
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: bisque;

}

#prestigeWarningButtons{

    width: 100%;
    height: 20%;
    background-color: blue;
    display: flex;

}

#prestigeNo{

    width: 50%;
    height: 100%;
    background-color: brown;

}

#prestigeYes{

    width: 50%;
    height: 100%;
    background-color: green;

}

#settingsOverlay{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;

}

#settingsBox{

    width: 30%;
    height: 70%;
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;

}

#settingsClose{

    width: 10%;
    aspect-ratio: 1/1;
    background-color: red;

}

#resetButton{

    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;

}

#resetOverlay{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;

}

#resetBox{

    height: 30%;
    width: 60%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;

}

#twoFactor{

    height: 20%;
    width: 80%;

}

#resetClose{

    height: 100%;
    width: 50%;
    background-color: red;

}

#resetConfirm{

    height: 100%;
    width: 50%;
    background-color: green;

}

#resetError{

    width: 30%;
    height: 10%;
    background-color: red;
    position: absolute;
    top: 5%;
    left: 35%;
    opacity: 0%;

}

/* MAIN GAME */

#main{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: rgb(89, 21, 9);

}

#left{

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 188, 110);

}

#gooseCount{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: sans-serif;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    border-width: 6px 6px 3px 6px;
    border-style: solid;
    border-color: rgb(167, 80, 5);

}

#goosePerSecond{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: sans-serif;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    border-width: 3px 6px 3px 6px;
    border-style: solid;
    border-color: rgb(167, 80, 5);

}

#mainGoose{

    user-select: none;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border-width: 3px 6px 6px 6px;
    border-style: solid;
    border-color: rgb(167, 80, 5);

}

#center{

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#options{

    height: 10%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;

}

#stats{

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: rgb(89, 21, 9);
    font-weight: bold;
    height: 100%;
    background-color: rgb(253, 188, 110);
    box-sizing: border-box;
    border-width: 6px 6px 3px 0px;
    border-style: solid;
    border-color: rgb(167, 80, 5);
    aspect-ratio: 1/1;
    flex-shrink: 0;

}

#news{

    height: 100%;
    width: 100%;
    font-size: 2vmin;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(253, 188, 110);
    color: rgb(89, 21, 9);
    box-sizing: border-box;
    border-width: 6px 0px 3px 0px;
    border-style: solid;
    border-color: rgb(167, 80, 5);

}

#settingsButton{

    height: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border-width: 6px 0px 3px 6px;
    border-style: solid;
    border-color: rgb(167, 80, 5);
    flex-shrink: 0;

}

#artifactTitle{

    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(253, 188, 110);
    color: rgb(89, 21, 9);
    box-sizing: border-box;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: rgb(167, 80, 5);

}

#artifactBox{

    width: 100%;
    height: 65%;
    background-color: rgb(89, 21, 9);
    display: flex;
    flex-direction: column;

}

.artifactRow{

    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: rgb(167, 80, 5);

}

.artifact{

    position: relative;
    width: 10vmin;
    aspect-ratio: 1/1;

}

.artifactTooltip{

    visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(222, 123, 6);
    color: rgb(86, 22, 12);
    right: 102%;
    width: 22vmin;
    font-family: sans-serif;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: rgb(167, 80, 5);
    z-index: 2;

}

.artifact:hover .artifactTooltip{
    visibility: visible;
}

.artifactTooltipTitle{
    font-size: 4vmin;
}

.artifactTooltipPrice{
    font-size: 3vmin;
}

.artifactTooltipDesc{
    font-size: 2vmin;
}

#fertilizer{

}

#shinyCoating{

}

#extraTitle{

    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    background-color: rgb(253, 188, 110);
    color: rgb(89, 21, 9);
    box-sizing: border-box;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: rgb(167, 80, 5);

}

#extra{

    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(253, 188, 110);
    color: rgb(89, 21, 9);
    box-sizing: border-box;
    border-width: 3px 0px 6px 0px;
    border-style: solid;
    border-color: rgb(167, 80, 5);

}

#chipmunk{

    width: calc(100%/6);
    aspect-ratio: 1/1;
    background-color: beige;

}

#prestigeButton{
    background-color: black;
}

#right{

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#shopBanner{

    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(253, 188, 110);
    box-sizing: border-box;
    border-width: 6px 6px 3px 6px;
    border-style: solid;
    border-color: rgb(167, 80, 5);
    color: rgb(89, 21, 9);
    font-size: 40px;
    
}

.item{

    font-family: sans-serif;
    background-color: rgb(253, 188, 110);
    color: rgb(89, 21, 9);
    box-sizing: border-box;
    border-width: 3px 6px 3px 6px;
    border-style: solid;
    border-color: rgb(167, 80, 5);
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;

}

.itemImage{

    height: 100%;
    aspect-ratio: 1/1;

}

.itemMain{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

.itemTitle{

    font-size: 30px;
    height: 60%;
    width: 100%;

}

.itemPrice{

    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
    font-size: 12px;

}

.itemOwned{

    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
    font-size: 12px;

}

.itemTooltip{

    visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(222, 123, 6);
    color: rgb(86, 22, 12);
    right: 102%;
    width: 45%;
    font-family: sans-serif;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: rgb(167, 80, 5);

}

.item:hover .itemTooltip{
    visibility: visible;
}

.itemTooltipMainText{
    font-size: 20px;
}

.itemTooltipLittleText{
    font-size: 10px;
}

#grass{}
#grassTooltip{}
#grassImage{}
#grassMain{}
#grassTitle{}
#grassPrice{}
#grassOwned{}

/*------------------------------------------------------------------------------------------------------------*/

#wheat{}

#wheatImage{}
#wheatMain{}
#wheatTitle{}
#wheatPrice{}
#wheatOwned{}

/*------------------------------------------------------------------------------------------------------------*/

#gooseStatue{}

#gooseStatueImage{}
#gooseStatueMain{}
#gooseStatueTitle{}
#gooseStatuePrice{}
#gooseStatueOwned{}

/*------------------------------------------------------------------------------------------------------------*/

#gooseNest{}

#gooseNestImage{}
#gooseNestMain{}
#gooseNestTitle{}
#gooseNestPrice{}
#gooseNestOwned{}

/*------------------------------------------------------------------------------------------------------------*/

#uwaterloo{}

#uwaterlooImage{}
#uwaterlooMain{}
#uwaterlooTitle{}
#uwaterlooPrice{}
#uwaterlooOwned{}

/*------------------------------------------------------------------------------------------------------------*/

#gooseTemple{}

#gooseTempleImage{}
#gooseTempleMain{}
#gooseTempleTitle{}
#gooseTemplePrice{}
#gooseTempleOwned{}

/*------------------------------------------------------------------------------------------------------------*/

#gooseMagnet{}

#gooseMagnetImage{}
#gooseMagnetMain{}
#gooseMagnetTitle{}
#gooseMagnetPrice{}
#gooseMagnetOwned{}

/*------------------------------------------------------------------------------------------------------------*/

#gooseLab{}

#gooseLabImage{}
#gooseLabMain{}
#gooseLabTitle{}
#gooseLabPrice{}
#gooseLabOwned{}

/*------------------------------------------------------------------------------------------------------------*/

#portal{
    border-bottom-width: 6px;
}

#portalTooltip{
    bottom: 0%;
}
#portalImage{}
#portalMain{}
#portalTitle{}
#portalPrice{}
#portalOwned{}